<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: head('Productos por Subcategoría')}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos por Subcategoría</title>
    </head>
    <body>
        <div th:replace="~{layout :: main-content(~{::div.content})}">
            <div class="content">
                <h2 class="mb-4">Productos por Subcategoría</h2>

                <div class="table-responsive">
                    <table id="tblProducto" class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Categoría</th>
                                <th>Marca</th>
                                <th>Proveedor</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Especificaciones</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Imagen Url</th>
                                <th>Información Fabricante</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <button class="btn btn-primary btn-return">Retornar</button>
            </div>
        </div>
        <th:block th:replace="~{layout :: scripts}"></th:block>
        <!-- DataTables Script -->
        <script th:src="@{/js/producto/producto-subcategoria-table.js}"></script>

    </body>
</html>